<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Portfolio Website</title>
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <script src="{% static 'javascript/script.js' %}" defer></script>
  </head>

  <body>
    <div class="type-game-container">
      <div class="text-box">
        <span class="before"></span>
        <span class="current"> </span>
        <span class="after"> </span>
      </div>
      <div class="type-container">
        <div class="input-box-container">
          <input type="text" class="input-box" />
        </div>
      </div>
    </div>
  </body>
</html>

<!-- Keyboard Game
    
    -->
