<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Portfolio Website</title>
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <script src="{% static 'javascript/script.js' %}" defer></script>
  </head>

  <body>
    <div class="wrap">
    <div class="header">
      <div class="header-container">
        <div class="header-button">Home</div>
        <div class="header-button">About</div>
        <div class="header-button">Experience</div>
        <div class="header-button">Projects</div>
        <div class="header-button">Contact</div>
      </div>
    </div>
    <div class="body-container">
      
    </div>
  </div>
  </body>
</html>


<!-- Keyboard Game
    <div class="type-game-container">
      <div class="text-box">
        <span class="before"></span>
        <span class="current"> </span>
        <span class="after"> </span>
      </div>
      <div class="type-container">
        <div class="input-box-container">
          <input type="text" class="input-box" />
        </div>
      </div>
    </div>
    -->