<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Portfolio Website</title>
    <!--{% load static %}
    <link href="{% static 'css/style2.css' %}" rel="stylesheet" />
    <script src="{% static 'javascript/script2.js' %}" defer></script>-->
    
    <link href="../static/css/style2.css" rel="stylesheet" />
    <script src="../static/javascript/script2.js" defer></script>
  </head>

  <body>
      <button class="menu">CLICK</button>
      <div class="box">

    </div>
  </body>
</html>