{% load static %}
<!--<a href = "/practice/"><img src="{% static '/img/LOGO.png' %}" style="width:auto; height: 48px;"></a>-->
<!DOCTYPE html>

<!--THIS IS HOW TO MAKE A COMMENT-->
<html>

<head>
    <meta charset="UTF-8">
    <title>Personal Portfolio Website</title>
    <link rel="stylesheet" href="{% static '/css/stylev2s.css' %}">
</head>

<body>
    <div class="background one"></div>
    <div class="background two"></div>
    <div class="background three"></div>
    <div class="page-header">
        <div class="logo"><a href=/practice/>
            <h2>IMAGE OF LOGO</h2>
            </a>
        </div>
        <div class="rest-of-header">
            <div class="page-header-main">a
                <div class="header-entry-container">
                    <h1>Contact</h1>
                </div>
                <div class="header-entry-container">
                    <h1>Skills</h1>
                </div>
                <div class="header-entry-container">
                    <h1>About</h1>
                </div>
                <div class="header-entry-container">
                    <h1>Home</h1>
                </div>
            </div>
        </div>
        <div></div>
        <div class="container">
            <div class="content">
                <div class="page-one">
                    <h1>Hello, My name is</h1>
                    <h1>Ali Butt</h1>
                </div>
                <div class="page-two">FIRSTPAGE</div>
                <div class="page-three">FIRSTPAGE</div>
            </div>

        </div>
    </div>
</body>

</html>