@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    color: inherit;
}

.js {
    color: rgb(209, 178, 0);
}

.py {
    color: rgb(55, 116, 167);
}

.html {
    color: rgb(221, 75, 37);
}

.css {
    color: rgb(38, 77, 228);
}

.dom {
    color: rgb(192, 57, 54);
}

.leetcode {
    color: rgb(255, 161, 22);
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: #1d212b;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 2rem;
}

section:nth-child(1) {
    color: #fff;
}
section:nth-child(2) {
    color: #1d212b;
    background: #fff;
}

section:nth-child(3) {
    color: #fff;
    background: #ff5733;
}

section:nth-child(4) {
    color: #1d212b;
    background: #fff;
}

section:nth-child(5) {
    color: #fff;
    min-height: 20vh;
}

section .container {
    margin: 100px;
    display: flex;
}

/*Section 1*/

section h1 {
    font-size: 4rem;
    animation: fade-in 500ms ease-in-out;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translate(-100px, 100px);
    }
    75% {
        opacity: 1;
        transform: translate(25px, -25px);
    }
}

.about-container {
    position: absolute;
    left: 0px;
    top: 0px;
}

.skills-container {
    position: absolute;
    right: 0px;
    top: 0px;
}

.projects-container {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.contact-container {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.about-container,
.skills-container,
.projects-container,
.contact-container {
    display: flex;
    align-items: center;
    width: 300px;
    height: 300px;
}

.about-container,
.projects-container {
    justify-content: start;
    margin-left: 100px;
}

.skills-container,
.contact-container {
    justify-content: end;
    margin-right: 100px;
}

.about,
.skills,
.projects,
.contact {
    padding: 10px 30px;
    cursor: pointer;
    border: 2px white solid;
    border-radius: 30px;
}
.about {
    animation: about 6s ease-in-out;
}
.skills {
    animation: skills 6s ease-in-out;
}
.projects {
    animation: projects 6s ease-in-out;
}
.contact {
    animation: contact 6s ease-in-out;
}
@keyframes about {
    0%,
    15% {
        opacity: 0;
        transform: translate(-100px, -100px);
    }
    40%,
    75% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
    80%,
    90% {
        transform: rotate(20deg);
    }
    85%,
    95% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
@keyframes skills {
    0%,
    25% {
        opacity: 0;
        transform: translate(100px, -100px);
    }
    50% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@keyframes projects {
    0%,
    35% {
        opacity: 0;
        transform: translate(-100px, 100px);
    }
    60% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@keyframes contact {
    0%,
    45% {
        opacity: 0;
        transform: translate(100px, 100px);
    }
    70% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

.about:hover,
.skills:hover,
.projects:hover,
.contact:hover {
    transform: scale(1.2, 1.1);
    /*transform: rotate(20deg);*/
}

section:nth-child(2) .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section .container h2 {
}
section .container ul {
    padding: 5vh 10% 10vh 10%;
}

section .container ul li {
    font-size: 1.3rem;
    margin: 1%;
    list-style-type: upper-roman;
}
