body {
    margin:0;
    background-image:url(../../img/food.png);
}
.header {
    height:calc(width/20)px;
    font-weight:400;
    font-size:30px;
    font-family:Courier New;
    background:rgba(223, 51, 51,0);
    color:blue;
    padding:20px;
    margin-top:50px;
    margin-right:20%;
    margin-left:20%;
    min-width:100px;
}
.under-header {
    padding-top:100px;
    margin-left:20%;
    margin-right:20%;
    display: flex;
    flex-direction:row;
    background:rgba(0,0,0,0)
}

.header-wrap {
    padding-left: 48px;
    padding-right: 48px;
    width:100%;
    background:rgba(0,0,0,0);
    
}

.Title-Ali {
    margin-left:auto;
    margin-right:auto;
    width:inherit;
    height:40px;
    text-align: center !important;
}
.sidebar {
    width:64px;
    background:#FFF;
}
.mainpage {
    width:100%;
    background:#fff;

}
.logo-1 {
    margin-left:5%;
    width:100px;
    height:auto;

}