{% load static %}
<!--<a href = "/practice/"><img src="{% static '/img/LOGO.png' %}" style="width:auto; height: 48px;"></a>
-->
<!DOCTYPE html>

<!--THIS IS HOW TO MAKE A COMMENT-->
<html>

<head>
    <meta charset="UTF-8">
    <title>Personal Portfolio Website</title>
    <link rel="stylesheet" href="{% static '/css/stylev2s.css' %}">
</head>

<body>
    <div class="page">
        <header class="top-bar">
            <div class="center-of-top-bar">
                <div class="logo">
                    <div class="logo-Circle">
                        <div class="logo-Square-1"></div>
                        <div class="logo-Square-2"></div>
                    </div>
                </div>
                <div class="top-bar-btn">
                    <div class="header-entry-container">
                        <h1>Home</h1>
                    </div>
                    <div class="header-entry-container">
                        <h1>About</h1>
                    </div>
                    <div class="header-entry-container">
                        <h1>Skills</h1>
                    </div>
                    <div class="header-entry-container">
                        <h1>Contact</h1>
                    </div>



                </div>
            </div>
        </header>
        <div class="container">
            <div class="Section-1">
                <div class="Opener-Line">
                    <p style="padding: 0 auto;">Hi, I'm Ali.</p>
                    <p>I love programming and making projects.</p>
                    <div class="Scroll-For-Information">
                        Scroll Down for more information
                    </div>
                    <div class="Down-arrow">
                        <div class="Down-one"></div>
                    </div>
                </div>
            </div>
            <div class="Section-2">
                <div class="Splitter"></div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, magnam? Possimus, itaque. Pariatur, aliquid veniam sunt officia repellat esse ullam modi quam dolorem consequuntur illum ab quia quaerat dolore distinctio. Voluptates
                alias, nihil, ipsum aperiam ratione adipisci qui magni sequi deleniti obcaecati earum illo exercitationem nam maxime voluptatibus quas cupiditate reprehenderit. Sapiente autem ipsam nostrum ratione optio beatae reiciendis sunt eveniet
                doloremque. Ipsa similique ab saepe. Pariatur repellendus nulla animi, ratione a necessitatibus maiores repellat saepe quas dolore eum eos officiis atque sed rerum voluptatibus dolorem ea voluptate. Dolore in quas vero eveniet atque, quam
                enim quasi expedita omnis unde tempora sit ad, modi libero deleniti facere, delectus exercitationem? Debitis, recusandae amet! Dolore ipsa ducimus iure molestias, sapiente libero quasi expedita! Perspiciatis nostrum animi distinctio quos
                quia! Sint excepturi atque mollitia? Officia cum voluptates totam, quod quibusdam hic ea iste culpa, suscipit eum voluptate, ullam est velit beatae. Est suscipit optio voluptatibus blanditiis alias ratione deserunt necessitatibus impedit
                enim sit exercitationem sunt aliquam harum, quisquam eligendi, fugiat ad, voluptate provident! Eaque asperiores cupiditate eos aspernatur officia ullam harum sit suscipit. Mollitia veniam minima earum, inventore dolorem esse suscipit odit.
                Tempora eligendi incidunt eos? Id nam, voluptatem corrupti quos dicta, maiores, tempore assumenda accusantium expedita laboriosam atque quibusdam dignissimos quae doloribus sapiente minima cupiditate a? Dolor hic vitae nesciunt tempore
                architecto sunt nostrum nam eligendi soluta odio facilis corporis libero fuga dignissimos, recusandae minima! Maxime dolor, quos laudantium adipisci nulla similique libero distinctio laborum fuga quis ullam cupiditate numquam excepturi
                non cum doloribus sapiente vero, maiores quas. Aspernatur perspiciatis et unde obcaecati soluta iure reiciendis ullam mollitia culpa, impedit error eveniet, cupiditate dolorem. Nihil molestias odit nemo, perferendis doloremque saepe ullam
                a quis quos quod molestiae autem nostrum repudiandae velit eveniet minus illum modi, nam officia consectetur non! Velit modi, voluptatibus inventore dolor dolores possimus quos nostrum aperiam quisquam illum rerum explicabo quidem neque
                quam eaque facilis amet, laboriosam culpa, porro nesciunt. Impedit tempore, est qui minus ea natus! Nam sint, illo accusamus, amet cum praesentium rem unde tempore repellendus earum ipsum quasi ad reiciendis quos impedit odit! Delectus,
                quam maxime voluptas molestiae cupiditate illum nemo facere suscipit ea autem recusandae aspernatur voluptatem distinctio fugit placeat! Obcaecati non repellendus deleniti tenetur eaque dolorem quas, vero harum dolores veritatis sint provident,
                dicta fugiat officiis nam labore quam eligendi velit eum necessitatibus ipsa amet maxime! Praesentium aperiam labore iure quidem vero perferendis quae molestias nisi saepe commodi, maxime inventore ex doloribus minima minus eum, sapiente
                magnam quo quas asperiores magni voluptates alias non nihil. Ipsam, ad suscipit ex adipisci voluptatem aliquid dolorum repudiandae reiciendis esse doloremque quis repellat hic id, officia maxime expedita provident qui autem. Perspiciatis
                vero facere nam atque nisi error natus sint ratione adipisci suscipit autem incidunt beatae rerum necessitatibus dignissimos et quaerat ipsam nobis sequi deserunt, ullam voluptatum ab earum eveniet. Libero sed, quos alias adipisci molestiae
                tenetur veritatis voluptas possimus quidem maiores minima distinctio perspiciatis soluta dignissimos similique! Culpa aspernatur reiciendis ratione dignissimos accusamus quisquam recusandae aliquam consequatur!Lorem ipsum dolor sit amet
                consectetur, adipisicing elit. Eveniet ipsum officia, dolorem amet molestiae quam architecto doloribus quia excepturi culpa laudantium dolores pariatur, qui sit reiciendis, officiis optio hic aperiam. Atque vitae iste totam laudantium
                ducimus ipsam reiciendis odio, corporis enim tempore, beatae optio ex consectetur et culpa omnis officia voluptatibus velit eaque, autem delectus! Libero voluptate iste, a veniam consectetur itaque pariatur? Necessitatibus tempora repellendus
                molestiae unde nesciunt nam similique odio sed laborum, quaerat impedit ipsum obcaecati neque sequi sapiente voluptatem quo expedita nisi ab natus? Ullam quia similique, cum unde eum iusto laborum eligendi architecto voluptas expedita
                vitae nihil eveniet, optio maxime suscipit ut aliquam harum tempora atque magni officia numquam! Deleniti aliquam voluptatum fugiat nulla. Tenetur delectus minus mollitia perspiciatis non facilis sed sequi id, ipsum, ipsam quibusdam. Modi
                sunt in maxime eum, culpa, rem ut accusamus velit id deserunt amet! Excepturi nulla neque accusantium in dolorum, tempora quibusdam beatae ipsa dignissimos facere. Ipsam saepe, minima nesciunt deserunt reprehenderit reiciendis corporis
                libero quam in nostrum architecto impedit aliquid esse commodi temporibus dolorem voluptas quaerat numquam nisi, debitis unde laboriosam perferendis. Maxime quod accusantium cum enim maiores ipsum dignissimos et laudantium, aperiam quam
                obcaecati, quos atque. Repellendus at tempora perspiciatis modi aliquam facere quibusdam tempore unde veniam placeat sunt ipsum ab ullam exercitationem quis sed assumenda, hic deleniti suscipit quidem officiis tenetur libero. Labore, fuga
                obcaecati soluta ea nemo voluptates veritatis modi laudantium, temporibus aperiam magnam atque dolor praesentium minus dolorem repudiandae. Ipsam culpa, obcaecati reprehenderit cum accusantium earum repudiandae error dolore unde cumque,
                officia veniam aut amet ut molestiae. Iste expedita ipsa debitis ducimus quos a! Temporibus rerum deleniti minima totam debitis, dolorum aperiam esse quae recusandae, et natus accusantium iusto ut non blanditiis quibusdam. At, corrupti
                nemo doloremque earum dolorum accusamus consequuntur a aliquam vitae molestias recusandae inventore nisi? Porro reiciendis, blanditiis suscipit ipsam sit pariatur odit doloremque voluptatum veniam quos praesentium adipisci optio nostrum
                numquam maxime? Fuga quisquam deleniti veniam molestiae rerum quia eaque praesentium assumenda ullam quos similique perferendis quae possimus explicabo vel quo, at sint voluptatem amet maxime laborum labore culpa. Aperiam molestias minus
                veniam nulla commodi dolore ex voluptas culpa voluptatibus quam accusantium, ipsa, iste, tenetur sunt fuga obcaecati error tempora fugit eveniet deleniti hic asperiores dolorem labore? Veritatis doloremque natus aspernatur cum eveniet
                quibusdam ipsam beatae provident sequi. Labore eius ipsum aut commodi mollitia consequatur, ut unde. Quibusdam quo commodi illum impedit eligendi, rem labore temporibus nihil iusto, adipisci rerum atque, odio ab deleniti. Ex id, mollitia
                assumenda dolore quos exercitationem. Animi voluptates odit magnam, quidem, quibusdam dolores ea illum soluta labore consequuntur sit temporibus explicabo nihil vel excepturi illo veniam amet consectetur velit minima dolore doloremque
                unde voluptas magni? Fugiat, tempora reiciendis voluptatibus ad nam officiis facere distinctio eum earum quibusdam qui iste harum culpa id ipsa. Minus debitis praesentium esse accusamus tempora similique iusto ut enim inventore sit doloribus
                architecto voluptas eum officia, itaque, nemo libero non vel impedit expedita quisquam sapiente earum. Ad eveniet consequuntur neque laborum labore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus consectetur enim accusamus
                quam, libero, adipisci sit tempore similique labore minus, blanditiis magnam error iure fugiat natus quos alias. Laudantium libero quia accusamus. Illo animi unde doloremque beatae modi totam iste iusto veritatis odit! Minus, atque? Tempora
                consectetur maxime fugiat dolor!</div>
            <div class="Section-3">
                <div class="Splitter"></div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi eos possimus assumenda quam minus voluptatibus earum nulla ad. Consectetur nihil accusantium magnam quaerat, harum est eaque ullam, deleniti minima at corporis incidunt
                nostrum dignissimos recusandae sed necessitatibus. Repellendus sapiente exercitationem, odio, saepe libero adipisci fugit nesciunt assumenda vitae quis rem obcaecati a ad distinctio ratione quam ab doloremque hic fuga? Delectus necessitatibus
                voluptatem blanditiis, saepe distinctio deserunt! Reiciendis voluptatibus quibusdam illo sunt est magnam laudantium explicabo, fuga enim, distinctio placeat voluptatum magni quod cum harum neque aspernatur aperiam? Eum perspiciatis tempore
                commodi, optio officia minus maxime fuga aperiam eius id illum quos? Veritatis nesciunt deserunt mollitia repellendus, eveniet commodi doloribus, magnam totam, nisi accusantium iusto voluptate error eligendi dolorum. Sint impedit maiores
                at consequuntur ea natus libero dolorum laboriosam sunt facilis nesciunt non accusamus atque quia, aperiam laborum. Possimus porro aperiam vel. Illo debitis voluptas inventore sed placeat quos at. Quod voluptas praesentium accusamus ipsum
                perspiciatis, hic cumque veritatis incidunt odio cupiditate sapiente ab quaerat similique optio eveniet omnis molestias sit itaque expedita? Delectus laborum minus ullam facilis ducimus voluptas, suscipit possimus nihil, laboriosam rem
                numquam illo perferendis, quo quibusdam! Atque, expedita quae dolorem maxime voluptates omnis nemo voluptatibus excepturi nobis, esse sint! A repellat ipsa, soluta quam accusantium numquam facilis aspernatur velit reprehenderit. Animi,
                repellendus blanditiis dolore in vero quas, facere perferendis aspernatur quos eligendi fuga eius voluptatibus qui quibusdam incidunt, quo doloremque? Totam eveniet odio reiciendis inventore molestias, reprehenderit cupiditate dignissimos,
                dolor quibusdam laborum aliquid perferendis rerum quidem tempora maxime quaerat amet ratione placeat sit beatae ipsum. Adipisci laboriosam rerum quia molestias saepe? Sed labore voluptates qui tempora sit nihil non quisquam consequuntur
                aliquid? Debitis cumque unde itaque deserunt, id harum amet saepe magni nam repellendus autem mollitia eveniet sint, corrupti quis adipisci obcaecati facilis eius explicabo quae dolor praesentium, modi vel. Odio nam incidunt possimus repudiandae
                facere magni assumenda ipsa, quis aut et enim aperiam voluptatem beatae dicta eius, accusamus hic pariatur! Magni dignissimos corrupti ratione laboriosam obcaecati quod necessitatibus. Quidem totam culpa quas sed! Repellat, ullam quisquam
                in quia cumque praesentium aliquid ipsa. Suscipit maxime voluptatibus, quibusdam, nihil placeat est delectus reiciendis sint molestiae tenetur laudantium dolore id architecto possimus reprehenderit tempore commodi temporibus. Neque dicta
                qui voluptatum impedit quis inventore, quam dolorem necessitatibus aliquam, quo fugiat debitis quidem eos? Error excepturi quis in repellendus. Nihil nesciunt temporibus maiores rem hic molestias ratione aliquid, et assumenda. Accusantium,
                unde iure nihil esse culpa debitis, dolorem aliquid voluptatibus similique quos officia quibusdam, fugiat perferendis modi blanditiis delectus reprehenderit rerum dolores necessitatibus voluptatum fugit at expedita ipsum itaque! Sint commodi
                ullam repellat saepe nihil rerum doloremque qui magni voluptatibus! Esse voluptate, minus repudiandae deserunt cumque amet eligendi sequi ut non exercitationem, quam nulla ad nobis! Perspiciatis quo eos dolore expedita quas veritatis repellendus
                odio, similique odit natus vitae quos itaque. Ratione veritatis dolor iusto nobis ex quos mollitia blanditiis eveniet necessitatibus ad cum nisi explicabo aspernatur, hic, nesciunt dolore voluptates, doloremque modi aliquid impedit. Odit
                architecto vel asperiores perferendis!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem iusto dolorem natus ea similique aspernatur, voluptas molestiae debitis, id consequatur labore dolores beatae officiis. Fugiat accusamus
                sequi atque fuga voluptas ducimus sed rerum repellendus expedita, placeat quibusdam soluta quisquam aperiam impedit nesciunt enim. Perspiciatis eum deserunt ex error adipisci laudantium, rerum culpa quas pariatur sit odit expedita est
                ab, eaque doloremque fuga rem libero laborum aspernatur corporis in qui. Modi animi quasi suscipit, fugiat veniam repellat veritatis perferendis aliquam. Maxime cupiditate, aliquam necessitatibus delectus amet magni commodi eaque quo error
                quidem eius nostrum enim itaque asperiores odio iusto dolorum! Facere, culpa? Voluptatibus iste unde deleniti placeat commodi ratione rem quidem. Voluptatibus, dignissimos quibusdam. Rem consequuntur perspiciatis, similique aspernatur
                quasi reprehenderit necessitatibus molestiae maxime ratione soluta quia dolorem ipsa velit. Non ullam ipsam dolore iste, ducimus natus necessitatibus hic excepturi. Sit maiores perferendis voluptatem error consequatur temporibus aliquam
                nesciunt aliquid quos laborum neque aspernatur voluptates magni repellat deserunt magnam quas, eaque voluptate aperiam natus iure quam enim deleniti? Eos, tenetur quasi reiciendis adipisci voluptatum praesentium nihil animi odio ea blanditiis
                ab eaque molestias quia est. Eligendi nisi libero quod molestiae enim ex vitae iste voluptates, inventore, id amet eaque quam velit eveniet unde? Qui perferendis aliquam, nobis unde eos modi non in ex repudiandae fugit debitis accusantium
                inventore dolor adipisci nulla obcaecati facere blanditiis voluptas quos? Sequi iste ad deserunt omnis repudiandae cupiditate rerum consequuntur obcaecati non magni quod, eveniet dignissimos officiis vitae? Ratione quam esse officiis enim
                repellat incidunt natus.</div>
        </div>
        <footer class="bottom">
            <div class="center-of-bottom-bar">
                <p>contact-email:user@gmail.com</p>
                <p>Phone Number: 07306306306</p>
            </div>
        </footer>
    </div>

</body>

</html>

<!--Practice html for site
<div class="background one"></div>
    <div class="background two"></div>
    <div class="background three"></div>
    <div class="page-header">
        <div class="logo"><a href=/practice/>
            <h2>IMAGE OF LOGO</h2>
            </a>
        </div>
        <div class="rest-of-header">
            <div class="page-header-main">a
                <div class="header-entry-container">
                    <h1>Contact</h1>
                </div>
                <div class="header-entry-container">
                    <h1>Skills</h1>
                </div>
                <div class="header-entry-container">
                    <h1>About</h1>
                </div>
                <div class="header-entry-container">
                    <h1>Home</h1>
                </div>
            </div>
        </div>
        <div></div>
        <div class="container">
            <div class="content">
                <div class="page-one">
                    <h1>Hello, My name is</h1>
                    <h1>Ali Butt</h1>
                </div>
                <div class="page-two">FIRSTPAGE</div>
                <div class="page-three">FIRSTPAGE</div>
            </div>

        </div>
    </div>-->