{% load static %}
<!--<a href = "/practice/"><img src="{% static '/img/LOGO.png' %}" style="width:auto; height: 48px;"></a>
-->
<!DOCTYPE html>

<!--THIS IS HOW TO MAKE A COMMENT-->
<html>

<head>
    <meta charset="UTF-8">
    <title>Personal Portfolio Website</title>
    <link rel="stylesheet" href="{% static '/css/stylev2s.css' %}">
</head>

<body>
    <div id="Home-Page" class="page">
        <header class="top-bar">
            <div class="center-of-top-bar">
                <div class="logo">
                    <div class="logo-Circle">
                        <div class="logo-Square-1"></div>
                        <div class="logo-Square-2"></div>
                    </div>
                </div>
                <div class="top-bar-btn">
                    <div>
                        <h1><a href="" class="btn-data">Home<div class="under-line"></div></a></h1>
                    </div>
                    <div>
                        <h1><a href="#About-Me-Page" class="btn-data">About</a></h1>
                    </div>
                    <div>
                        <h1><a href="#Skills-Page" class="btn-data">Skills</a></h1>
                    </div>
                    <div>
                        <h1><a href="#Projects-Page" class="btn-data">Projects</a></h1>
                    </div>
                    <div>
                        <h1><a href="#Contact-Page" class="btn-data">Contact</a></h1>
                    </div>



                </div>
            </div>
        </header>
        <div class="container">
            <div class="Section-1">
                <div class="Opener-Line page-style">
                    <p style="padding: 0 auto; font-size:5vh;">Hi, I'm Ali.</p>
                    <p style="font-size:3.5vh;">I love programming and making projects.</p>
                    <div class="Scroll-For-Information">
                        Scroll Down for more information
                    </div>
                    <div class="Down-arrow">
                        <div class="Down-one"></div>
                    </div>
                </div>
            </div>
            <div class="Section-2">
                <div class="Splitter"></div>
                <div id="About-Me-Page" class="page-style">
                    <div class="headline">ABOUT ME</div>
                    <p>Highly motivated student, <span class="key-words">aspiring</span> to become a <span class="key-words">full stack software engineer.</span> </p>
                    <div style="height:20px;"></div>
                    <p>I have been learning <span class="key-words">python since 2017</span>, I am interested in learning Javascript, React and mySQL to further my knowledge of web development. I'm also an avid reader of the news and enjoy keeping up with global
                        trends and the financial market.</p>
                    <p>I am an A-Level Student studying <span class="key-words">Mathematics</span>,<span class="key-words"> Computer Science</span> and<span class="key-words"> Economics</span>. I enjoy playing Chess and learning about the stock market.</p>
                </div>
            </div>
            <div class="Section-3">
                <div id="Skills-Page" class="page-style">
                    <div class="Splitter"></div>
                    <div class="headline">SKILLS</div>
                    <div class="Section-3-Center">
                        <h4 class="Skills-Heading">Proficient in:</h4>
                        <div class="Skill-Container">
                            <div class="text-styling">Python:<ul><li>Created a Chess application using pygame, used classes and methods/functions to keep the game organised.</li>
                            <li>Made a minesweeper replica using Pygame, using a recursive algorithm to detect neighboring tiles' state.</li>
                        <li>Created this website using Django, able to create new pages and use multiple html files to organise new pages.</li></ul></div>
                            <div class="images">
                                <img class="image" src="{% static '/img/python.png' %} "></div>
                        </div>
                        <div class="Skill-Container">
                            <div class="text-styling">HTML:<ul><li>Learnt the function of all the elements used in a regular website.</li>
                                <li>Consistently learning new ways to create a website layout through reading the HTML of popular websites with inspect element.</li>
                            <li>Used classes, id and links to create the functioning buttons in the header.</li></ul></div>
                            <div class="images">
                                <img class="image" src="{% static '/img/html.png' %} "></div>
                        </div>
                        <div class="Skill-Container">
                            <div class="text-styling">CSS:<ul><li>Used FlexBox to create the layout of each section of this page.</li>
                                <li>Strong understanding of how to use margin, border and padding to organise a website.</li>
                            <li>Used variables to keep color scheme consistent.</li></ul></div>
                            <div class="images">
                                <img class="image" src="{% static '/img/css.png' %} "></div>
                        </div>
                        <h4 class="Skills-Heading">Intermediate in:</h4>
                        <div class="Skill-Container">
                            <div class="text-styling">GitHub:<ul><li>Pushing updates onto the main branch to then pull onto the virtual machine which runs this website, hosted on Google Cloud Platform.</li>
                                <li>Documenting changes in each update to be able to revert to any previous version of project.</li>
                            <li><a href="https://github.com/AliCS1" style="text-decoration:none; color:var(--accent-color); font:50px;">https://github.com/AliCS1</a> <--- My GitHub profile</li></ul></div>
                            <div class="images">
                                <img class="image" src="{% static '/img/Github.png' %} "></div>
                        </div>
                        <div class="Skill-Container">
                            <div class="text-styling">CSS:<ul><li>Used FlexBox to create the layout of each section of this page.</li>
                                <li>Strong understanding of how to use margin, border and padding to organise a website.</li>
                            <li>Used variables to keep color scheme consistent.</li></ul></div>
                            <div class="images">
                                <img class="image" src="{% static '/img/Leetcode.svg' %} "></div>
                        </div>
                        <div class="Skill-Container">
                            <div class="text-styling">CSS:<ul><li>Used FlexBox to create the layout of each section of this page.</li>
                                <li>Strong understanding of how to use margin, border and padding to organise a website.</li>
                            <li>Used variables to keep color scheme consistent.</li></ul></div>
                            <div class="images">
                                <img class="image" src="{% static '/img/cssbattles.svg' %} "></div>
                        </div>
                        <h4 class="Skills-Heading">Currently learning:</h4>
                        <div class="Skill-Container">
                            <div class="text-styling">CSS:<ul><li>Used FlexBox to create the layout of each section of this page.</li>
                                <li>Strong understanding of how to use margin, border and padding to organise a website.</li>
                            <li>Used variables to keep color scheme consistent.</li></ul></div>
                            <div class="images">
                                <img class="image" src="{% static '/img/MySQL.png' %} "></div>
                        </div>
                        <div class="Skill-Container">
                            <div class="text-styling">CSS:<ul><li>Used FlexBox to create the layout of each section of this page.</li>
                                <li>Strong understanding of how to use margin, border and padding to organise a website.</li>
                            <li>Used variables to keep color scheme consistent.</li></ul></div>
                            <div class="images">
                                <img class="image" src="{% static '/img/react.svg' %} "></div>
                        </div>
                        <div class="Skill-Container">
                            <div class="text-styling">CSS:<ul><li>Used FlexBox to create the layout of each section of this page.</li>
                                <li>Strong understanding of how to use margin, border and padding to organise a website.</li>
                            <li>Used variables to keep color scheme consistent. TEST</li></ul></div>
                            <div class="images">
                                <img class="image" src="{% static '/img/JavaScript-Logo.png' %} "></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Section-4">
                <div id="Projects-Page" class="page-style">
                    <div class="Splitter"></div>
                    <div class="headline">PROJECTS</div>
                    <div class="Section-3-Center">
                        <h4>Proficient in:</h4>
                    </div>
                </div>
            </div>
            <div class="Section-5">
                <div id="Contact-Page" class="page-style">
                    <div class="Splitter"></div>
                    <div class="headline">CONTACT</div>
                    <div class="Section-3-Center">
                        <h4>Proficient in:</h4>

                    </div>
                </div>
            </div>
        </div>
        <footer class="bottom ">
            <div class="center-of-bottom-bar ">
                <p>contact-email:user@gmail.com</p>
                <p>Phone Number: 07306306306</p>
            </div>
        </footer>
    </div>

</body>

</html>

<!--
    
                        <div>
                            <h4>Proficient in:</h4>
                        </div>
                        <div class="images-logo ">
                        </div>
                        <img class="images " src="{% static '/img/python.png' %} ">
                        <img class="images " src="{% static '/img/html.png' %} ">
                        <img class="images " src="{% static '/img/css.png' %} ">
                        <img class="images " src="{% static '/img/JavaScript-Logo.png' %} ">
                        <div class="images-logo ">
                            <im class=< /div>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi eos possimus assumenda quam minus voluptatibus earum nulla ad. Consectetur nihil accusantium magnam quaerat, harum est eaque ullam, deleniti minima at corporis incidunt
                            nostrum dignissimos recusandae sed necessitatibus. Repellendus sapiente exercitationem, odio, saepe libero adipisci fugit nesciunt assumenda vitae quis rem obcaecati a ad distinctio ratione quam ab doloremque hic fuga? Delectus
                            necessitatibus voluptatem blanditiis, saepe distinctio deserunt! Reiciendis voluptatibus quibusdam illo sunt est magnam laudantium explicabo, fuga enim, distinctio placeat voluptatum magni quod cum harum neque aspernatur aperiam?
                            Eum perspiciatis tempore commodi, optio officia minus maxime fuga aperiam eius id illum quos? Veritatis nesciunt deserunt mollitia repellendus, eveniet commodi doloribus, magnam totam, nisi accusantium iusto voluptate error
                            eligendi dolorum. Sint impedit maiores at consequuntur ea natus libero dolorum laboriosam sunt facilis nesciunt non accusamus atque quia, aperiam laborum. Possimus porro aperiam vel. Illo debitis voluptas inventore sed placeat
                            quos at. Quod voluptas praesentium accusamus ipsum perspiciatis, hic cumque veritatis incidunt odio cupiditate sapiente ab quaerat similique optio eveniet omnis molestias sit itaque expedita? Delectus laborum minus ullam facilis
                            ducimus voluptas, suscipit possimus nihil, laboriosam rem numquam illo perferendis, quo quibusdam! Atque, expedita quae dolorem maxime voluptates omnis nemo voluptatibus excepturi nobis, esse sint! A repellat ipsa, soluta quam
                            accusantium numquam facilis aspernatur velit reprehenderit. Animi, repellendus blanditiis dolore in vero quas, facere perferendis aspernatur quos eligendi fuga eius voluptatibus qui quibusdam incidunt, quo doloremque? Totam
                            eveniet odio reiciendis inventore molestias, reprehenderit cupiditate dignissimos, dolor quibusdam laborum aliquid perferendis rerum quidem tempora maxime quaerat amet ratione placeat sit beatae ipsum. Adipisci laboriosam rerum
                            quia molestias saepe? Sed labore voluptates qui tempora sit nihil non quisquam consequuntur aliquid? Debitis cumque unde itaque deserunt, id harum amet saepe magni nam repellendus autem mollitia eveniet sint, corrupti quis
                            adipisci obcaecati facilis eius explicabo quae dolor praesentium, modi vel. Odio nam incidunt possimus repudiandae facere magni assumenda ipsa, quis aut et enim aperiam voluptatem beatae dicta eius, accusamus hic pariatur!
                            Magni dignissimos corrupti ratione laboriosam obcaecati quod necessitatibus. Quidem totam culpa quas sed! Repellat, ullam quisquam in quia cumque praesentium aliquid ipsa.</p>
                    
    
    
    
    Practice html for site
<div class="background one "></div>
    <div class="background two "></div>
    <div class="background three "></div>
    <div class="page-header ">
        <div class="logo "><a href=/practice/>
            <h2>IMAGE OF LOGO</h2>
            </a>
        </div>
        <div class="rest-of-header ">
            <div class="page-header-main ">a
                <div class="header-entry-container ">
                    <h1>Contact</h1>
                </div>
                <div class="header-entry-container ">
                    <h1>Skills</h1>
                </div>
                <div class="header-entry-container ">
                    <h1>About</h1>
                </div>
                <div class="header-entry-container ">
                    <h1>Home</h1>
                </div>
            </div>
        </div>
        <div></div>
        <div class="container ">
            <div class="content ">
                <div class="page-one ">
                    <h1>Hello, My name is</h1>
                    <h1>Ali Butt</h1>
                </div>
                <div class="page-two ">FIRSTPAGE</div>
                <div class="page-three ">FIRSTPAGE</div>
            </div>

        </div>
    </div>-->