{% load static %}


            <!--<a href = "/practice/"><img src="{% static '/img/LOGO.png' %}" style="width:auto; height: 48px;"></a>-->
            
<!DOCTYPE html>

<!--THIS IS HOW TO MAKE A COMMENT-->
<html>
    <head>
        <meta charset="UTF-8">
        <title>PRACTICE PAGE</title>
        <link rel = "stylesheet" href="{% static '/css/practice/style.css' %}">
    </head>

    <body>


        <div class="header">
                <!--<a href = "/practice/"><img src="{% static '/img/LOGO.png' %}" class="logo-1"></a>-->
                <div><h1 class="Title-Ali">Ali's Portfolio</h1>
                </div>
        </div>
        
        
        
        <div class="under-header">

            <!--<div class="sidebar">SIDEPAGE wiggle wiggle awddaw</div>-->

            <div class="mainpage">S THEawd awdaw PAGE</div>

        </div>

    </body>




</html>
